.no-flexbox {
  .mo-flexbox {
    display: block;

    .mo-flexbox__item {
      width: 50%;
    }
  }
}

.mo-flexbox {
  @include clearfix();
  align-items: stretch;
  justify-content: space-between;
  position: relative;

  .mo-flexbox__item {
    position: relative;
    display: block;

    @include breakpoint(tablet-and-up) {
      width: 50%;
      float: left;
    }

    &--border {
      margin-bottom: 1em;
      padding-bottom: 1em;
      border-bottom: 2px solid rgba(0,0,0,0.2);

      @include breakpoint(tablet-and-up) {
        margin-bottom: 0;
        border: 0;
      }
    }

    &--centerphone {
      text-align: center;

      @include breakpoint(tablet-and-up) {
        text-align: left;
      }
    }
  }
}
