.mo_linkicon {
  line-height: 2em;
  
  @include breakpoint(tablet-and-up) {
    font-size: 20px;
  }

  i {
    width: 30px;
    @include transition-all;
  }

  &__link {
      border-bottom: 1px solid rgba(0,0,0,0.2);
      @include transition-all;

    &:hover {
      border-color: rgba(0,0,0,0.5);
    }
  }

  &:hover {
    i {
      color: rgba(255,255,255,0.5);
    }
  }
  &--black {
    i {
      width: 25px;
    }
    &:hover {
      i {
        color: rgba(0,0,0,0.5);
      }
    }
  }
}