.mo-stand-alone {
  text-align: left;
  margin-bottom: 2em;
  @include breakpoint(tablet-and-up) {
  }

  @include breakpoint(tablet-and-up) {
    float: right;
    margin-left: 30px;
    margin-bottom: 20px;
  }
  &__title {
    margin: 0 0 15px 0;
  }
  &__sub-title {
    margin: 0 0 15px 0;
  }

  .mo_linkicon {

    @include breakpoint(tablet-and-up) {
      margin-left: 20px;
    }
  }
}