.mo-thumbnail-wrapper {
    @include clearfix();
    text-align: center;   
}

.mo-thumbnail {
    margin-right: 5px;
    text-align: center;
    width: 106px;
    height: 90px;
    float: left;
    border-width: 5px;
    border-style: solid;
    border-color: transparent;
    overflow: hidden;
    position: relative;
  
  &__img {
      height: 100%;
      display: block;
      position: absolute;
      top: -9999px;
      bottom: -9999px;
      left: -9999px;
      right: -9999px;
      margin: auto;
    
  }
  
  &--active {
    border: 2px solid $color-skyblue;
  }
  &:last-child {
  
    margin-right: 0;
  }
}