.mo-video-page {
}

.mo-video-page-wrap {
    position: relative;
}

.mo-video-thumb {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 30px;
    z-index: 1;
    padding-top: 80px;

    i:before {
        font-size: 30px;
    }    
    
    &--left {
        right: -50px;
    }
    
    &--right {
        left: -50px;
    }
}