{
    "apiPrefix": "http://api.monday.fi",
    "staticUrl": "http://localhost:8050",
    "companyInfo": {
        "officialName": "Monday Digital Oy",
        "businessId": "2435962-4",
        "streetAddress": "",
        "postalCode": "",
        "city": "Helsinki",
        "contactEmail": "info@monday.fi",
        "someLinks": [
            {
                "name": "facebook",
                "link": "https://www.facebook.com/mondaydigital",
                "displayName": "Facebook",
                "iconClass": "mo-icon--facebook"
            },
            {
                "name": "twitter",
                "link": "https://twitter.com/mondayfi",
                "displayName": "Twitter",
                "iconClass": "mo-icon--twitter"
            },
            {
                "name": "facebook",
                "link": "https://www.linkedin.com/company/monday-digital-oy",
                "displayName": "LinkedIn",
                "iconClass": "mo-icon--linkedin"
            }
        ]
    },
    "personnelInfo": {
        "samuel": {
            "imagePath": "/static/images/samuel.jpg",
            "firstName": "Samuel",
            "lastName": "Klinkmann",
            "email": "samuel@monday.fi",
            "linkedinLink": "https://fi.linkedin.com/in/samuelklinkmann",
            "phone": {
                "display": "040 486 92 09",
                "link": "+358404869209"
            },
            "title": "UX Developer"
        },
        "pyry": {
            "imagePath": "/static/images/pyry.jpg",
            "firstName": "Pyry",
            "lastName": "Kovanen",
            "email": "pyry@monday.fi",
            "linkedinLink": "https://fi.linkedin.com/in/pyrykovanen",
            "phone": {
                "display": "040 809 83 64",
                "link": "+358408098364"
            },
            "title": "Full Stack Developer"
        }
    }
}
