$color-turquoise: #259db8;
$color-green: #3aa497;
$color-white: #fff;
$color-black: #333;
$color-skyblue: #439fe0;
$color-athensgray: #e9eaed;
$color-purple: #662D91;
$color-purple-rgba: rgba(132, 32, 136, 0.15);
$color-darkendpurple: #675691;
$color-darkred: #BC3159;

$breakpoint-phone-max-width: 479px;

$breakpoint-phone-large-min-width: 480px;
$breakpoint-phone-large-max-width: 639px;
$content-size-phone-large: 440px;

$breakpoint-tablet-min-width: 640px;
$breakpoint-tablet-max-width: 959px;
$content-size-tablet: 604px;

$breakpoint-laptop-min-width: 960px;
$breakpoint-laptop-max-width: 1279px;
$content-size-laptop: 604px;

$breakpoint-desktop-min-width: 1280px;
$content-size-desktop: 604px;

$global-column-cap: 20px;
$global-spacing-mobile: 1.6rem;
$global-spacing-desktop: 1.6rem;