.mo-footer {
  @extend %clearfix;

  &__some {
    width: 100%;

    &__ul {
      margin: 0;
      padding: 0;
      @extend %clearfix;
    }

    &__li {
      display: block;
      width: 33.33%;
      float: left;
    }

    &__item {
      color: $color-purple;
      text-align: center;
      display: block;
      padding: 1em 0;
      @include transition-all;

      &--border {
        border-right: 2px solid $color-athensgray;
      }

      &:hover {
        background:  $color-athensgray;
      }
    }

    &__text {
      display: none;
    }
  }
}